<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Cota Coin</title>
        <!-- Favicon-->
         
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="https://jonathandacruz.github.io/pagesStyle/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="/">Cota Coin</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/usuarios">Cadastrar Usuário</a></li>
                            <li class="nav-item"><a class="nav-link" href="/acoes">Cadastrar Ações</a></li>
                            <li class="nav-item"><a class="nav-link" href="/movimentacao">Movimentações</a></li>
                            <li class="nav-item"><a class="nav-link" href="/ordens">Ordens</a></li>
                            <li class="nav-item"><a class="nav-link" href="/dividendos">Dividendos</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Torne-se um investidor completo</h1>
                                <p class="lead fw-normal text-white-50 mb-4"> Acompanhe sua carteira e ativos do Brasil e dos EUA em tempo real, notícias, compare fundos e mais! Confira!</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/ordens">Ver Movimentações</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="/usuarios">Quero me cadastrar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img width="600px" class="img-fluid rounded-3 my-5" src="https://jonathandacruz.github.io/pagesStyle/logo1.png" alt="..." /></div>
                    </div>
                </div>
            </header>
            
             
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Cota Coin 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="/">Contato</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/">Agenda</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/">Onde Estamos</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="https://jonathandacruz.github.io/pagesStyle/js/scripts.js"></script>
    </body>
</html>
